
.layer-control-head {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 4px;
}

.layer-control-body {
    border-top: 1px solid #000;
    overflow: hidden;
}

.layer-title {
    font-size: 14px;
    font-weight: bold;
}

.layer-toggle {
    cursor: pointer;
    line-height: 20px;
    width: 24px;
    font-size: 18px;
    padding-right: 8px;
    float: left;
    color: rgb(255, 174, 66);
}

.minimize-toggle {
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    color: rgb(255, 174, 66);
    pointer-events: none;
}

/*
.layer-control {
    float:left;
    height: 20px;
    line-height: 20px;
}

.layer-control-label {
    position: relative;
    color: #ddd;
    font-size: 10px;
    width: 140px;
}
*/

.layer-control {
    height: 20px;
    line-height: 20px;
}

.layer-control-label {
    float: left;
    font-size: 10px;
    width: 80px;
}

.control-value-label {
    position: relative;
    color: #ddd;
    font-size: 10px;
    width: 44px;
    text-align: right;
    padding-left: 4px;
}
