* {
    box-sizing: border-box;
}

#map, html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #111;
    color: #ccc;
    font: 14px 'Helvetica Neue', sans-serif;
}

.controls {
    position: absolute;
    left: 10px;
    bottom: 20px;
}
