
.topic-frequencies {
	position: relative;
	display: inline-block;
}

.topic-frequency-entry {
	position: relative;
	width: 236px;
	left: 10px;
	z-index: 1;
	cursor: pointer;
}

.topic-frequency-left {
	position: relative;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 162px;
	height: 100%;
    box-sizing: border-box;
}

.topic-frequency-right {
	position: relative;
	float: right;
	width: 74px;
	height: 100%;
}

.topic-frequency-label {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 5px;
}

.topic-frequency-bar {
	position: relative;
	float: left;
	bottom: 0px;
	border: 1px solid #000;
	margin-left: -1px;
    box-sizing: border-box;
}

.topic-frequency-label-100{color:#F8D9AC;}
.topic-frequency-label-90{color:#ECCB9C;}
.topic-frequency-label-80{color:#E0BE8C;}
.topic-frequency-label-70{color:#D5B17C;}
.topic-frequency-label-60{color:#C9A36D;}
.topic-frequency-label-50{color:#BE965D;}
.topic-frequency-label-40{color:#B2894D;}
.topic-frequency-label-30{color:#A67B3E;}
.topic-frequency-label-20{color:#9B6E2E;}
.topic-frequency-label-10{color:#8F611E;}
.topic-frequency-label-0{color:#84540F;}

.topic-frequency-bar-100{background-color:#F8D9AC;}
.topic-frequency-bar-90{background-color:#ECCB9C;}
.topic-frequency-bar-80{background-color:#E0BE8C;}
.topic-frequency-bar-70{background-color:#D5B17C;}
.topic-frequency-bar-60{background-color:#C9A36D;}
.topic-frequency-bar-50{background-color:#BE965D;}
.topic-frequency-bar-40{background-color:#B2894D;}
.topic-frequency-bar-30{background-color:#A67B3E;}
.topic-frequency-bar-20{background-color:#9B6E2E;}
.topic-frequency-bar-10{background-color:#8F611E;}
.topic-frequency-bar-0{background-color:#84540F;}

.highlight .topic-frequency-label,
.highlight .topic-frequency-bar {
    opacity: 0.5;
}

.topic-frequency-entry:hover .topic-frequency-bar,
.topic-frequency-entry.hover .topic-frequency-bar,
.topic-frequency-entry.highlight .topic-frequency-bar {
    background-color: #fe9;
    opacity: 1;
}

.topic-frequency-entry:hover .topic-frequency-label,
.topic-frequency-entry.hover .topic-frequency-label,
.topic-frequency-entry.highlight .topic-frequency-label {
    color: #fe9;
    opacity: 1;
}
